[MASTER]
# Использовать несколько процессов для проверки
jobs=1

# Python-ветки, с которыми pylint должен работать
py-version=3.8

# Расширения имен файлов Python
extension-pkg-whitelist=numpy

[MESSAGES CONTROL]
# Отключение предупреждений, которые могут быть ложно-положительными
disable=
    C0103, # Имена переменных/функций слишком короткие
    C0111, # Отсутствие docstring
    R0903, # Слишком мало публичных методов
    R0913, # Слишком много аргументов
    W0105, # Строка, которая ни к чему не привязана (docstring)
    W0621, # Переопределение имени из внешней области

[REPORTS]
# Активация оценки
evaluation=10.0 - ((float(5 * error + warning + refactor + convention) / statement) * 10)

# Вывод полного отчета
output-format=text
reports=yes
score=yes

[REFACTORING]
# Максимальное количество ветвлений для оператора if/while/for
max-branches=12

# Максимальное число локальных переменных для функции/метода
max-locals=15

# Максимальное количество аргументов для функции/метода
max-args=5

# Максимальное количество атрибутов для класса
max-attributes=7

[BASIC]
# Регулярное выражение для имен переменных, классов, методов и констант
variable-rgx=[a-z_][a-z0-9_]{2,30}$
function-rgx=[a-z_][a-z0-9_]{2,30}$
method-rgx=[a-z_][a-z0-9_]{2,30}$
attr-rgx=[a-z_][a-z0-9_]{2,30}$
argument-rgx=[a-z_][a-z0-9_]{2,30}$
class-rgx=[A-Z_][a-zA-Z0-9]+$
module-rgx=(([a-z_][a-z0-9_]*)|([A-Z][a-zA-Z0-9]+))$
const-rgx=(([A-Z_][A-Z0-9_]*)|(__.*__))$

[FORMAT]
# Максимальная длина строки
max-line-length=100

# Разрешить отсутствующие строковые документации на уровне модуля
no-docstring-rgx=__.*__

[DESIGN]
# Минимальное количество публичных методов для класса
min-public-methods=1

# Максимальное количество публичных методов для класса
max-public-methods=20

# Максимальное количество булевских выражений в операторе if
max-bool-expr=5

[EXCEPTIONS]
# Исключения, которые могут быть подняты
overgeneral-exceptions=Exception 